<launch>
  <!-- wheel velocities -->
  <node pkg="pose_cmds_logger" name="pose_cmds_logger_node" type="pose_cmds_logger_node.py" output="screen">
  </node>

  <!-- imu velocities -->
  <!-- node pkg="pose_cmds_logger" name="imu_cmds_logger" type="imu_cmds_logger.py" output="screen">
  </node -->

  <!-- autorally dataset -->
  <!--node pkg="pose_cmds_logger" name="autorally_dataset_logger" type="autorally_dataset_logger.py" output="screen">
  </node -->

  <!-- joint_states -->
<!--  <node pkg="pose_cmds_logger" name="dataset_logger" type="jointstates_cmds_logger_node.py" output="screen">-->
<!--  </node>-->

</launch>
